.news-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1100px;
	height: 1000px;
	margin: auto;
	border-radius: 5px;
	background-color: #eee;

	@media screen and (--tablet) {
		position: initial;
		width: 80%;
		height: auto;
	}

	@media screen and (--phone) {
		position: initial;
		width: 100%;
		height: auto;
	}

	& .news-container {
		display: flex;
		flex-wrap: wrap;
		width: 1100px;
		height: 1000px;
		box-shadow: 0 0 0 10px #f5f5f5, 3px 3px 12px 12px #333;

		@media screen and (--tablet) {
			justify-content: center;
			align-items: center;
			width: 100%;
			height: auto;
		}

		@media screen and (--phone) {
			height: auto;
		}
	}

	& .news-title h2 {
		font-family: 'Noto Sans TC', 'PingFangTC-Regular', 'Microsoft JhengHei', 'Roboto', sans-serif;
		font-size: 50px;
		font-weight: 900;
		line-height: 40px;
		text-align: center;
		padding: 30px;

		@media screen and (--phone) {
			margin: 10vw auto;
		}
	}
}
