.about-banner {
	width: 100vw;
	position: relative;

	& > video {
		width: 100vw;
	}

	& > svg {
		position: absolute;
		left: 40px;
		bottom: 84px;
		z-index: 99;
	}

	& > button {
		font-family: Montserrat, sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		background: none;
		border: none;
		color: white;
		padding-left: 40px;
		padding-bottom: 40px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 9;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 4px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 35vw 0 0 30vw;
		border-color: transparent transparent transparent var(--primary);
		opacity: 0.4;
		z-index: 0;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 4px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 17vw 0 0 25vw;
		border-color: transparent transparent transparent var(--primary);
		opacity: 0.4;
		z-index: 0;
	}

	@media screen and (--tablet), screen and (--phone) {
		&::before,
		&::after,
		& > svg,
		& > button {
			display: none;
		}
	}
}
