.image-banner {
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: calc(100vw * 320 / 1280);

	@media screen and (--phone) {
		height: calc(100vw * 160 / 375);
	}
}
