.tool-bar {
	display: flex;
	margin-top: 40px;
	align-items: center;
	justify-content: space-between;
	position: relative;

	& > div {
		&:first-child {
			display: flex;

			@media screen and (--phone) {
				width: 100%;
			}
		}

		& .filter-dropdown {
			width: 144px;
			border-radius: 8px;
			border: solid 1px var(--light-gray);
			padding: 0 12px;

			@media screen and (--phone) {
				width: 100%;

				&.active {
					width: 48px;
				}
			}

			& .filter-dropdown-value {
				border-bottom: none;

				& > div {
					color: var(--gray-phase-1);
				}

				@media screen and (--phone) {
					&.hide-value {
						& > div {
							display: none;
						}

						& > svg {
							width: 24px;
							height: 24px;
						}
					}
				}
			}

			& .filter-dropdown-panel {
				background-color: white;
			}
		}

		& .icon-btn {
			background-color: inherit;
			border: none;
			cursor: pointer;
			padding: 0;

			&:first-child {
				margin-right: 16px;
			}
		}
	}

	@media screen and (--tablet), screen and (--phone) {
		margin-top: 48px;

		& > .switch-type {
			display: none;
		}
	}
}
