/* stylelint-disable no-descending-specificity */
.reports-media-group {
	margin: auto;
	margin-top: 64px;
	width: 90vw;
	max-width: 1120px;

	@media screen and (--phone) {
		width: 100%;
		padding: 0 20px;
	}

	& > .video {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 40px;

		@media screen and (--tablet), screen and (--phone) {
			grid-template-columns: 1fr;
			margin-top: 32px;
		}

		& .video-detail {
			display: flex;
			align-items: center;
			justify-content: space-between;

			& > span {
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.57;
				letter-spacing: normal;
				color: var(--gray-phase-2);
			}
		}

		& > div {
			width: 100%;
		}

		& > .max-media {
			@media screen and (--desktop) {
				& > .video-title {
					font-size: 32px;
					font-weight: bold;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.25;
					letter-spacing: 1px;
					color: var(--dark-black);
				}
			}

			@media screen and (--tablet), screen and (--phone) {
				margin-bottom: 32px;
			}

			& > .video-wrapper {
				position: relative;
				min-height: 414px;

				@media screen and (--tablet) {
					min-height: auto;
					max-height: 350px;
				}

				@media screen and (--phone) {
					min-height: auto;
					max-height: 248px;
				}

				& > div {
					border-radius: 4px;
				}

				&:hover {
					& + .video-detail {
						& > .video-sub-title {
							opacity: 1;
						}
					}
				}
			}

			& > .video-detail {
				margin-top: 12px;
				margin-bottom: 12px;
				position: relative;

				@media screen and (--phone) {
					margin-bottom: 8px;
				}

				& > .video-sub-title {
					width: 100%;
					opacity: 0;
					transition: 0.3s ease-in-out;
					position: absolute;
					top: -92px;
					z-index: 99;
					color: white;
					padding: 16px 24px;
					background-color: rgba(44, 44, 44, 0.48);
					font-size: 16px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: normal;
					text-align: justify;
				}
			}
		}

		& > .min-media {
			display: flex;
			flex-wrap: wrap;

			& > div {
				width: 50%;
				max-width: 248px;
				margin-left: 32px;
				margin-bottom: 32px;

				@media screen and (--tablet), screen and (--phone) {
					width: 100%;
					max-width: none;
					margin-left: auto;
				}

				& > .video-detail {
					margin-top: 12px;
					margin-bottom: 8px;
					position: relative;

					& > .video-sub-title {
						opacity: 0;
						transition: 0.3s ease-in-out;
						position: absolute;
						top: -52px;
						width: 100%;
						z-index: 99;
						color: white;
						padding: 8px 12px;
						background-color: rgba(44, 44, 44, 0.48);
						font-size: 14px;
						font-weight: 500;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.71;
						letter-spacing: normal;
						text-align: justify;
					}
				}

				& > .video-wrapper {
					max-height: 140px;

					@media screen and (--tablet) {
						max-height: 350px;
					}

					@media screen and (--phone) {
						max-height: 248px;
					}

					&:hover {
						& + .video-detail {
							& > .video-sub-title {
								opacity: 1;
							}
						}
					}
				}
			}
		}

		& .video-title {
			font-size: 16px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
		}
	}

	& > .more-button {
		margin-top: 48px;

		@media screen and (--phone) {
			margin-top: 8px;
		}

		& > a {
			& > .button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: auto;
				border-radius: 8px;
				padding: 0 16px;
			}
		}
	}
}
