.title {
	align-self: flex-start;
	position: relative;
	z-index: 1;

	& h2 {
		font-family: Montserrat, sans-serif;
		font-size: 32px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: 2px;
		color: var(--primary);
		margin-bottom: 2px;

		@media screen and (--phone) {
			font-size: 24px;
			line-height: 1.33;
			margin-bottom: 4px;
		}
	}

	& h2:nth-child(2) {
		font-family: 'NotoSansCJKtc-Bold 粗體', sans-serif;
		color: var(--dark-black);

		@media screen and (--phone) {
			font-size: 32px;
			font-weight: bold;
		}
	}

	& .circle {
		position: absolute;
		z-index: -1;
		left: 88px;
		width: 120px;
		height: 120px;
		border-radius: 100%;
		top: -20px;
	}
}
