.service-slider {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 40px;
	align-self: center;

	& .slider {
		width: 1120px;

		@media screen and (--tablet), screen and (--phone) {
			width: 100%;
		}

		& > div {
			overflow: visible;
		}
	}

	& .control-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 64px;
		height: 64px;
		border: solid 2px #cbd8aa;
		border-radius: 100%;
		background-color: #000;
		cursor: pointer;
		transition: border 0.3s;
		position: absolute;
		z-index: 1;
		top: auto;
		bottom: -95px;
		outline: none;
		padding: 0;
		margin: 0;
		box-shadow: none;

		& svg {
			min-width: 16px;
			min-height: 16px;

			& > path {
				transition: fill 0.3s;
			}
		}

		&.prev {
			left: 16px;
		}

		&.next {
			right: 16px;
		}
	}
}
