.tool-bar {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	align-items: center;
	justify-content: center;
	position: relative;

	&.scroll {
		position: fixed;
		top: 30px;
		left: 0;
		z-index: 9;
		width: 100%;
		max-width: inherit;
		padding-bottom: 10px;
		box-shadow: 0 0 8px 0 rgb(44 44 44 / 40%);
		background-color: white;
	}

	@media screen and (--tablet), screen and (--phone) {
		flex-direction: column;
		margin-top: initial;
	}

	& .dropdown-content {
		display: flex;

		@media screen and (--tablet), screen and (--phone) {
			margin-bottom: 16px;
		}

		& .dropdown {
			display: flex;

			@media screen and (--phone) {
				width: 100%;
			}

			& .margin-right {
				margin-right: 16px;

				@media screen and (--tablet), screen and (--phone) {
					margin-right: 3vw;
				}
			}

			& .filter-dropdown {
				width: 240px;
				border-radius: 8px;
				border: solid 1px var(--light-gray);
				padding: 0 12px;

				@media screen and (--phone) {
					width: 42.93vw;

					&.active {
						width: 48px;
					}
				}

				& .filter-dropdown-value {
					border-bottom: none;

					& > div {
						color: var(--gray-phase-1);
					}

					@media screen and (--phone) {
						&.hide-value {
							& > div {
								display: none;
							}

							& > svg {
								width: 24px;
								height: 24px;
							}
						}
					}
				}

				& .filter-dropdown-panel {
					width: max-content;
					background-color: white;
				}

				&:first-child > div {
					border: none;

					& > div {
						color: #808080;
					}
				}

				&:first-child > div:nth-child(2) {
					position: absolute;
					left: 0;
					width: 168px;
					box-shadow: 0 2px 16px 0 rgb(44 44 44 / 16%);
					border: none;
					border-radius: 8px;
					margin-top: 10px;
				}
			}

			& .icon-btn {
				background-color: inherit;
				border: none;
				cursor: pointer;
				padding: 0;

				&:first-child {
					margin-right: 16px;
				}
			}

			& .arrowdrop {
				display: none;
			}

			& .arrow-open {
				transition: all 0.3s ease-in-out;
				position: absolute;
				right: 0;
				top: 12px;
			}

			& .arrow-closed {
				transition: all 0.3s ease-in-out;
				position: absolute;
				right: 0;
				top: 12px;
				transform: rotate(-180deg);
			}
		}

		@media screen and (--tablet), screen and (--phone) {
			margin-top: 48px;

			& > .switch-type {
				display: none;
			}
		}
	}
}

:global(.Dropdown-option) {
	/* stylelint-disable-next-line */
	background-color: #fff !important;
	color: var(--gray);
	font-family: 'NotoSansCJKtc', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.4px;
}

:global(.Dropdown-option):hover {
	/* stylelint-disable-next-line */
	background-color: #fff !important;
	/* stylelint-disable-next-line */
	color: var(--primary) !important;
}
