.about-milestone {
	@media screen and (--tablet), screen and (--phone) {
		margin-top: 144px;
		margin-bottom: 144px;
	}

	& .time-line {
		margin-top: 64px;
		padding: 0 calc((100vw - 1440px) / 2 + 32px);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 11px;
			width: 100vw;
			height: 2px;
			background-color: #f4f4f4;
			z-index: -1;
		}

		@media screen and (--phone) {
			padding: 0;
		}

		& .year-dot {
			display: flex;
			justify-content: center;
			position: relative;
			height: 80px;
			width: 152px;
			cursor: pointer;

			& > p {
				font-family: 'Montserrat', sans-serif;
				font-size: 24px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 40px;
				letter-spacing: normal;
				color: #a8a8a8;
				height: 40px;
			}

			&.selected-year {
				& > p {
					font-size: 32px;
					font-weight: bold;
					color: #2c2c2c;
				}

				&::after {
					background-image: url('../../../images/point-active.png');
					width: 28px;
					height: 28px;
					bottom: -2px;
				}
			}

			&.hide {
				display: none;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 4px;
				width: 16px;
				height: 16px;
				background-image: url('../../../images/point-deactive.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}

	& .milestons {
		margin-top: 64px;
		padding: 0 calc((100vw - 1440px) / 2 + 32px);

		& > div {
			overflow: visible;
		}

		&::after {
			content: '';
			width: 100vw;
			height: 448px;
			background-color: #f6f9f1;
			position: absolute;
			top: calc((560px - 448px) / 2);
			left: 0;
			z-index: -1;

			@media screen and (--tablet), screen and (--phone) {
				height: 560px;
				top: 0;
			}
		}

		& .content-img,
		& .content-text {
			margin: 0 32px;
			height: 560px;

			@media screen and (--tablet), screen and (--phone) {
				padding: 108px 0;
				margin: 0 20px;
			}
		}

		& .content-text {
			display: flex;
			justify-content: center;
			align-items: center;

			& > div {
				width: 640px;
				font-size: 32px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 2;
				letter-spacing: 2px;
				text-align: center;
				position: relative;

				@media screen and (--phone) {
					width: 295px;
				}

				&::after,
				&::before {
					position: absolute;
					top: -10px;
					font-family: Montserrat, sans-serif;
					font-size: 40px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.2;
					letter-spacing: normal;
					color: var(--primary);
				}

				&::after {
					content: '“';
					left: -5px;
				}

				&::before {
					content: '”';
					right: -5px;
				}
			}
		}

		& .content-img {
			position: relative;

			& > div {
				&.img {
					box-shadow: 0 2px 16px 0 rgba(44, 44, 44, 0.32);
					background-color: #ddd;
					height: 100%;

					@media screen and (--tablet), screen and (--phone) {
						width: auto;
						height: 280px;
						margin: auto;
						box-shadow: none;
					}

					@media screen and (--phone) {
						max-width: 335px;
						height: 240px;
					}
				}

				&:not(.img) {
					width: 100%;
					border-radius: 0 100px 0 0;
					position: absolute;
					bottom: 0;
					padding: 24px 40px;
					background-color: rgba(44, 44, 44, 0.6);
					font-size: 24px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.67;
					letter-spacing: normal;
					color: white;

					@media screen and (--tablet), screen and (--phone) {
						text-align: center;
						position: static;
						margin-top: 24px;
						background: none;
						color: var(--dark-black);
						padding: 0;
					}
				}
			}
		}

		& .control-button {
			background: none;
			border: none;
			padding: 0;
			position: absolute;
			top: calc((560px - 64px) / 2);
			z-index: 99;
			cursor: pointer;

			@media screen and (--tablet), screen and (--phone) {
				top: auto;
				bottom: -104px;
			}

			&.prev {
				left: calc((100vw - 1140px) / 2 - 64px);

				@media screen and (--tablet), screen and (--phone) {
					left: 20px;
				}
			}

			&.next {
				right: calc((100vw - 1140px) / 2 - 64px);

				@media screen and (--tablet), screen and (--phone) {
					right: 20px;
				}
			}
		}

		& .slider-dots {
			display: flex;
			justify-content: center;
			margin-top: 64px;

			@media screen and (--tablet), screen and (--phone) {
				display: none;
			}

			& ul {
				height: 16px;
				position: relative;

				&::before {
					content: '';
					width: 100%;
					height: 1px;
					background-color: var(--light-primary);
					position: absolute;
					top: 6px;
					left: 0;
					z-index: -1;
				}

				& > li {
					& > button {
						width: 16px;
						height: 16px;
						padding: 0;
						margin: 0;
						background-color: var(--primary);
						border: none;
						border-radius: 16px;
						color: transparent;
					}

					&:not(:last-child) {
						margin-right: 40px;
					}
				}
			}
		}
	}
}
