.panel-wrapper {
	position: relative;
	z-index: 99;
	& .panel {
		width: 30%;
		height: 400px;
		transition: all 0.3s ease-in-out;
		transform: translateX(55rem);
		border-radius: 10px;
	}
	&.active {
		& > .over-layer {
			display: block;
		}
		& > .panel {
			width: 30%;
			height: 400px;
			transform: translate(0px, 80px);
			top: 100px;
			right: 0;
			left: 0;
			border-radius: 10px;
			margin: auto;
		}
	}
}

.over-layer {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9;
}

.panel {
	width: 25rem;
	position: fixed;
	top: 100px;
	right: 0;
	box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
	transform: translateX(25rem);
	transition: all 0.3s ease-in-out;
	z-index: 99;
	& .head {
		padding: 0.5rem;
		text-align: right;
		& .close {
			font-size: 24px;
			font-weight: 600;
			color: #333;
			cursor: pointer;
			line-height: 1;
			margin-right: 4px;
		}

		& .close-panel-btn {
			position: relative;
			top: 40px;
			right: 15px;
		}
	}
}
