.service-content-group {
	margin: auto;
	margin-top: 69px;
	margin-bottom: 120px;
	padding: 80px;
	border-radius: 8px;
	box-shadow: 0 2px 32px 0 rgba(44, 44, 44, 0.16);
	background-color: white;
	width: 960px;
	position: relative;

	&.svy-wrapper {
		padding: 0;
		margin-top: 80px;
		width: 1120px;
		border-radius: 0;

		@media screen and (--tablet), screen and (--phone) {
			width: 100vw;
			padding: 0 20px;
		}
	}

	@media screen and (--tablet), screen and (--phone) {
		margin-top: 144px;
		background-color: inherit;
		box-shadow: none;
		width: 100%;
		padding: 0 20px;
	}

	& > span {
		width: 0;
		height: 0;
		border-width: 15px;
		border-style: solid;
		border-color: transparent transparent white transparent;
		margin: auto;
		position: absolute;
		top: -29px;
		left: 0;
		right: 0;
	}

	& > div {
		&:not(:last-child) {
			margin-bottom: 64px;
		}
	}
}

.wrapper {
	& > h3 {
		margin-top: 100px;
		font-family: 'Noto Sans TC', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 2;
		letter-spacing: 1.5px;
		text-align: center;
		color: var(--dark-black);

		@media screen and (--tablet), screen and (--phone) {
			margin-top: 140px;
		}
	}
}
